/* Variables */
@use "./vars.css";

/* Addons */
@use "./addons/watermark.css";
@use "./addons/better-channel-indicators.css";
@use "./addons/colored-mentions.scss";
@use "./addons/colored-replies.scss";
@use "./addons/local-bot-mods.scss";
@use "./addons/nicer-roles.css";
@use "./addons/user-connections.scss";
@use "./addons/profile-modals.css";
@use "./addons/better-embeds.css";
@use "./addons/better-quotes.css";
@use "./addons/status-indicator.css";
@use "./addons/dusk-to-dawn-settings.css";
@use "./addons/jump-to-present.css";
@use "./addons/settings-icons.css";
// @use "./addons/apple-emojis.css";
// @use "./addons/macos-titlebar.css"

/* Theme */
/* home page */
#app-mount .container-1D34oG {
  background-color: var(--dracula-primary);
}
/* chat box*/
.scrollableContainer-2NUZem {
  border-radius: 25px;
  border: 1px solid var(--dracula-tertiary);
  background-color: var(--dracula-secondary);
}
/* date divider */
.content-1o0f9g {
  color: #ffffff;
}
/* dont u dare touch usernames */
.username-1A8OIy {
  color: #ffffff;
}
/* auto complete */
#app-mount .autocomplete-1vrmpx {
  background-color: var(--dracula-secondary);
}
#app-mount .selected-1Tbx07 {
  background-color: var(--dracula-accent-alpha);
}
.categoryHeader-O1zU94 {
  background-color: var(--dracula-primary);
}
/* search box */
#app-mount .container-3ayLPN {
  background: var(--dracula-secondary) !important;
}
#app-mount .option-96V44q:after {
  display: none;
}
#app-mount .option-96V44q.selected-rZcOL- {
  background-color: var(--dracula-accent);
}
#app-mount .search-2oPWTC {
  border-color: var(--dracula-accent);
}
.search-2oPWTC.focused-31_ccS,
.search.open,
.search.popout-open {
  border: 2px solid;
  border-radius: 0px;
}
.searchBar-3dMhjb {
  border-radius: 15px;
}
#app-mount .focused-2bY0OD {
  background-color: var(--dracula-primary);
}
/* popout modal */
.headerPlaying-j0WQBV {
  background-color: var(--dracula-accent);
}
#app-mount .body-3iLsc4,
#app-mount .footer-1fjuF6 {
  background-color: var(--dracula-secondary);
}
#app-mount .headerNormal-T_seeN {
  background-color: var(--dracula-primary);
}

/* profile modal */
.topSectionNormal-2-vo2m {
  background-color: var(--dracula-primary);
}
.body-3ND3kc {
  background-color: var(--dracula-secondary);
}
/* bot tags */
.botTagRegular-2HEhHi {
  background-color: var(--dracula-accent);
}
.botTagInvert-18-95s {
  color: var(--dracula-accent);
}

/* taken ₍ₛₜₒₗₑₙ₎ from KraXen72's rosebox */
.chat-3bRxxu,
.container-1D34oG,
.libraryHeader-3g95kE,
.container-1r6BKw,
.homeWrapper-3-Wh5T .title-3qD0b-,
.applicationStore-1pNvnv,
.scroller-1d5FgU,
.pageHeaderDrag-OPlmbm {
  border-top-left-radius: 10px !important;
}
/* server pill */
.item-2hkk8m {
  background-color: var(--dracula-accent);
}

/* new messages */
.newMessagesBar-265mhP {
  background-color: var(--dracula-accent);
  border: 1px var(--dracula-accent-dark);
  border-style: none solid solid solid;
}

/* server header */
.header-2V-4Sw {
  box-shadow: none;
  -webkit-box-shadow: none;
}
/* server and channel name */
.name-1jkAdW,
.base-1x0h_U:not(.nameNormal-2lqVQK) {
  color: var(--dracula-accent);
}
/* oopsie */
.nameWrap-3Z4G_9.textRow-19NEd_.base-1x0h_U.size14-e6ZScH,
.gameIcon-gg34Dz {
  color: #ffffff;
}
/* delete message */
#app-mount .message-2qRu38 {
  background-color: var(--dracula-secondary);
  box-shadow: none;
  border: 1px solid var(--dracula-tertiary);
}
/* update button */
.updateIconForeground-3tnNZn {
  fill: var(--dracula-accent);
}
/* discord icon */
.childWrapper-anI2G9 {
  color: var(--dracula-accent);
}
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 {
  background: var(--dracula-accent);
}

/* memberslist*/
.members-1998pB,
.members-1998pB > div,
#dv-mount {
  background-color: var(--dracula-primary);
}

/* role picker */
.container-3XJ8ns {
  background-color: var(--dracula-secondary);
  border: 1px solid var(--dracula-tertiary);
}

/* media */
.mediaBarGrabber-1FqnbN,
.mediaBarProgress-1xaPtl,
.mediaBarProgress-1xaPtl:after,
.mediaBarProgress-1xaPtl:before,
.mediaBarInteraction-37i2O4:hover .mediaBarGrabber-1FqnbN {
  background-color: var(--dracula-accent);
}
.audioControls-2HsaU6 {
  background-color: transparent;
}
.videoControls-2kcYic {
  background-color: var(--dracula-tertiary-alpha);
}
.mediaBarInteractionVolume-3QZqYd {
  background-color: var(--dracula-secondary-alpha);
}
.wrapper-129saQ {
  background-color: var(--dracula-secondary-alpha);
}
.iconPlay-2kgvwV.icon-3ZFEtL
  polygon[fill="currentColor"][points="0 0 0 14 11 7"] {
  fill: var(--dracula-accent) !important;
}
.metadata-13NcHb {
  background: linear-gradient(0, transparent, var(--dracula-secondary));
}
.mediaBarInteractionDragging-2QurIZ .mediaBarGrabber-1FqnbN {
  background-color: var(--dracula-accent);
}
/* drag n drop */
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .bgScale-1otPtc {
  background-color: var(--dracula-secondary);
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo {
  color: var(--dracula-accent);
  border: 2px dashed var(--dracula-accent);
}
/* upload modal */
#app-mount .uploadModal-2ifh8j {
  background-color: var(--dracula-primary);
}
#app-mount .footer-3mqk7D {
  background-color: var(--dracula-secondary);
}
.checked-3_4uQ9[style="width: 24px; height: 24px; border-color: rgb(114, 137, 218);"] {
  border-color: var(--dracula-accent) !important;
}
path[d="M8.99991 16.17L4.82991 12L3.40991 13.41L8.99991 19L20.9999 7.00003L19.5899 5.59003L8.99991 16.17Z"][fill="#7289da"] {
  fill: var(--dracula-accent);
}
/* taken from rosebox by KraXen72 */
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
  border: 2px solid var(--dracula-accent);
}
.uploadModal-2ifh8j .inner-3nWsbo,
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo {
  border: 2px dashed var(--dracula-accent);
  border-radius: 10px;
}
/* settings */
.button-14-BFJ {
  border-radius: 20px;
}
#app-mount .root-1gCeng {
  background-color: var(--dracula-primary);
}
#app-mount .footer-2gL1pp {
  background-color: var(--dracula-secondary);
}
#app-mount .htqj5xw-f1e1abj {
  color: var(--dracula-accent);
  border-color: var(--dracula-accent);
}
#app-mount .codeRedemptionRedirect-1wVR4b {
  background-color: var(--dracula-secondary);
  border-color: var(--dracula-tertiary);
}

/* join a server modal - because discord are literary braindead */
.lookFilled-1Gx00P.colorGrey-2DXtkV {
  background-color: var(--dracula-accent);
  &:hover {
    background-color: var(--dracula-accent-light);
  }
}
.backButton-iA7KIs.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.sizeMin-1mJd1x.grow-q77ONN {
  color: #b9bbbe;
}
.colorStandard-2KCXvj.size16-1P40sf.text-1FOLJS {
  color: #ffffff;
}
.colorStandard-2KCXvj.size20-17Iy80.footerTitle-2CYZch {
  color: #ffffff;
}
.colorHeaderPrimary-26Jzh-.size24-RIRrxO.title-3w8xhj,
.colorHeaderPrimary-26Jzh-.size24-RIRrxO.title-LqAd9K,
.colorHeaderPrimary-26Jzh-.size24-RIRrxO.title-XLSR78 {
  color: var(--dracula-accent);
}
.inviteDestinationExpired-2_1Ava {
  color: #f04747;
}
.container-UC8Ug1 {
  background-color: var(--dracula-secondary);
}
.colorHeaderSecondary-3Sp3Ft,
.sampleLink-2NLvZg,
.search-1iTphC .searchBox-2_mAlO .searchBoxInput-K6mkng {
  color: #c2bbca;
}
.theme-light .footer-2gL1pp,
.theme-light .root-1gCeng {
  box-shadow: none;
}
.input-cIJ7To {
  color: #c2bbca;
}
circle[cx="68"][cy="12"][r="12"][fill="#7289DA"] {
  fill: var(--dracula-accent);
}
.input--jS-j2 {
  background-color: var(--dracula-secondary);
  border: 1px solid var(--dracula-tertiary);
}
/* discover servers */
#app-mount .pageWrapper-1PgVDX {
  background-color: var(--dracula-primary);
}
.categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG {
  background-color: var(--dracula-accent);
}
.search-1iTphC .searchBox-2_mAlO {
  background-color: var(--dracula-secondary);
}

/* a lot of blurple annihlated - aka my old snippets that have no comments ;w; */
.option-n0icdO:hover,
.lookFilled-1Gx00P.colorBrand-3pXr91,
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
.wrapper-1BJsBx:hover .childWrapper-anI2G9,
.barFill-23-gu-,
.colorDefault-2K3EoJ.focused-3afm-j,
.headerPlaying-j0WQBV,
.topSectionPlaying-1J5E4n,
.lookFilled-1Gx00P.colorGreen-29iAKY,
#app-mount .wrapper-3WhCwL:hover,
.circleIconButton-1QV--U.selected-1JjBPm,
.newMessagesBar-265mhP,
.questionMark-3qBhGj,
.bd-button,
.bd-addon-views .bd-view-button.selected {
  background-color: var(--dracula-accent);
}
.bd-switch input:checked + .bd-switch-body {
  --switch-color: var(--dracula-accent);
}
.button-38aScr[style*="114, 137, 218"],
.container-3auIfb:not([style*="rgb(114, 118, 125)"]),
.activeButton-rvKcqq {
  background-color: var(--dracula-accent) !important;
}
.container-3auIfb:not([style*="rgb(114, 118, 125)"]) .slider-TkfMQL svg path,
.radioSelection-1HmrQS {
  fill: var(--dracula-accent);
}
.radioIconForeground-XwlXQN {
  fill: var(--dracula-accent) !important;
}
.item-26Dhrx[aria-checked="true"] svg,
.defaultValue-3gC7yw .markValue-2DwdXI,
.colorBrand-ROmMP1,
.lookOutlined-3sRXeN.colorBrand-3pXr91,
.reaction-1hd86g.reactionMe-wv5HKu .reactionCount-2mvXRV,
#app-mount .wrapper-3WhCwL,
.lookInverted-2D7oAl.colorBrand-3pXr91 {
  color: var(--dracula-accent);
}
.lookOutlined-3sRXeN.colorBrand-3pXr91,
.input-cIJ7To:focus,
.input-cIJ7To.focused-1mmYsC {
  border-color: var(--dracula-accent);
}
.wrapper-3jrx9n {
  border: 2px solid var(--dracula-accent);
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover,
.lookFilled-1Gx00P.colorGreen-29iAKY:hover,
.bd-button:hover,
.bd-button:focus {
  background-color: var(--dracula-accent-light);
}
.circleIconButton-1QV--U {
  color: var(--dracula-accent);
  &:hover {
    color: #ffffff;
  }
}

.lookFilled-1Gx00P.colorGreen-29iAKY:disabled,
.lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
  background-color: var(--dracula-accent-dark);
}
.radioSelection-1HmrQS:hover {
  fill: #ffffff !important;
}
.reaction-1hd86g.reactionMe-wv5HKu {
  background-color: var(--dracula-accent-alpha);
}

/* thanks to snapperito */

/* sliders */
#app-mount .bar-2Qqk5Z {
  background-color: var(--dracula-primary-light);
}
/* gift buttons on sub tab */
#app-mount .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
  background-color: var(--dracula-accent);
  &:hover {
    background-color: var(--dracula-accent-light);
  }
}
/* voice devices*/
.css-1ba14n5-option {
  background-color: var(--dracula-secondary);
}
.css-3vaxre-menu {
  background-color: var(--dracula-primary);
}
/* video */
#app-mount .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
  background-color: var(--dracula-secondary);
  border-color: var(--dracula-tertiary);
}
/* mic test */
#app-mount .progress-1IcQ3A {
  background-color: var(--dracula-secondary);
}
.container-3PXSwK {
  background: var(--dracula-accent) !important;
}

/* selected in tab settings */
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
  background-color: var(--dracula-accent);
  border-radius: 2px;
  &:hover {
    background-color: var(--dracula-accent-light);
  }
}
.topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
  background-color: var(--dracula-accent-alpha);
  border-radius: 2px;
}
.item-3HknzM.item-PXvHYJ[aria-controls="ADD_FRIEND-tab"] {
  background-color: var(--dracula-accent) !important;
  color: #ffffff !important;
}
/* plugins modals */
.cardPrimary-1Hv-to {
  background: var(--dracula-secondary);
}
/* context menu slection fix */
.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
  background-color: var(--dracula-accent-light);
}
/* reactions not reacted to */
.reaction-1hd86g {
  background: var(--dracula-secondary);
}
/* overlays not selected */
.option-n0icdO {
  background-color: var(--dracula-primary-light);
}
.disabled-3I9jyo {
  color: var(--dracula-primary-light);
}
/* tooltips */
#app-mount .tooltip-2QfLtc,
#app-mount .tooltip-1_vJJI,
#app-mount .subscribeTooltipWrapper-1JoUuw {
  background-color: var(--dracula-secondary);
}
/* status picker */
.menu-3sdvDG {
  border: 1px solid var(--dracula-tertiary);
}
/* in a call badge */
.iconBadge-2wi9r4.participating-NBGDkr {
  background-color: var(--dracula-accent);
}
/* call box */
/* call buttons */
.colorable-1bkp8v.primaryDark-3mSFDl {
  background-color: var(--dracula-primary);
}
/* popout selection ring */
.item-1tOPte[aria-checked="true"] svg {
  color: var(--dracula-accent);
}
/* speaking ring */
.avatarSpeaking-2IGMRN,
.border-Jn5IOt.speaking-B2MXPi {
  box-shadow: inset 0 0 0 2px var(--dracula-accent),
    inset 0 0 0 3px var(--dracula-secondary);
}
/* how'd the call go dont show again :^)*/
.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked + span {
  background-color: var(--dracula-accent);
  border-color: var(--dracula-accent);
}
/* escape button */
#app-mount .closeButton-1tv5uR {
  border-color: var(--dracula-accent);
}
#app-mount .keybind-KpFkfr {
  color: var(--dracula-accent);
}
/*path[d="M18.4 4L12 10.4L5.6 4L4 5.6L10.4 12L4 18.4L5.6 20L12 13.6L18.4 20L20 18.4L13.6 12L20 5.6L18.4 4Z"] {
  fill: var(--dracula-accent);
}*/
/* game activity */
#app-mount .game-1ipmAa {
  box-shadow: 0 1px 0 0 var(--dracula-tertiary);
}
#app-mount .nowPlaying-284llR {
  background-color: var(--dracula-accent);
}
#app-mount .card-FDVird:before {
  background-color: var(--dracula-secondary);
  border-color: var(--dracula-tertiary);
}
/* disabled switches */
.container-3auIfb[style="opacity: 1; background-color: rgb(114, 118, 125);"] {
  background-color: var(--dracula-primary-light) !important;
}
/* powercord alias plugin modal */
.powercord-alias-pair {
  background: var(--dracula-secondary) !important;
  border: 1px solid var(--dracula-tertiary) !important;
}
.powercord-alias-textarea:focus {
  border-color: var(--dracula-accent) !important;
}
/* discord tweaks pc plugin */
.searchBox {
  background: var(--dracula-secondary) !important;
}
.discordTweaksSettings .tweaks .tweakCard {
  background-color: var(--dracula-secondary) !important;
  border: 1px solid var(--dracula-tertiary);
}
/* scroll bar fix - for future refrence ::-webkit-scrollbar doesn't play nice with Horizontal Server List */
.scrollerBase-289Jih.disableScrollAnchor-3V9UtP::-webkit-scrollbar-thumb,
.auto-Ge5KZx.scrollerBase-289Jih::-webkit-scrollbar-thumb,
.thin-1ybCId.scrollerBase-289Jih::-webkit-scrollbar-thumb {
  background-color: var(--dracula-primary-light);
}

.base-3dtUhz div::-webkit-scrollbar-thumb,
#user-settings div::-webkit-scrollbar-thumb {
  background-color: var(--dracula-primary-light) !important;
}
.base-3dtUhz div::-webkit-scrollbar-thumb:hover {
  background-color: var(--dracula-primary-light) !important;
}

/* quick switch */
.input-2VB9rf {
  background-color: var(--dracula-secondary);
  border: 1px solid var(--dracula-tertiary);
}
/* screenshare */
.selectorButtonSelected-t5V9On {
  background-color: var(--dracula-accent);
}
.selectorButton-EEUWed:not(.selectorButtonPremiumRequired-mKMbIu):hover {
  background-color: var(--dracula-accent);
}
.item-3T2z1R {
  border: none;
}
/* video and screenshare buttons alternate style - i'll just leave it here commented */
/*.button-1YfofB.buttonColor-7qQbGO,
.button-1YfofB .buttonColor-7qQbGO {
  background-color: transparent;
  border: 1px solid var(--dracula-accent);
  border-radius: 0;
}
.button-1YfofB.buttonColor-7qQbGO,
.button-1YfofB .buttonColor-7qQbGO {
  color: var(--dracula-accent);
}*/

/* server region */
.lookGhost-2Fn_0-.colorBrand-3pXr91 {
  color: var(--dracula-accent);
  background-color: var(--dracula-accent-alpha);
}
.regionSelectModal-12e-57 {
  background: var(--dracula-primary) !important;
}
.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3 {
  background-color: var(--dracula-secondary);
  border: 1px solid var(--dracula-tertiary);
}
.regionSelectModal-12e-57 .regionSelectModalHeader-21khC1 {
  color: var(--dracula-accent);
}
.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3:hover {
  border-color: var(--dracula-accent);
}
/* save changes confirmation */
.container-2VW0UT.elevationHigh-1PneE4[style="background-color: rgba(32, 34, 37, 0.9);"] {
  background-color: var(--dracula-secondary-alpha) !important;
}
/* server boost status */
#app-mount .tierHeaderLocked-1a2opw {
  background-color: var(--dracula-secondary);
}
#app-mount .tierBody-x9kBBp {
  background-color: var(--dracula-primary);
}
.tier-3H4BXk {
  border: 1px solid var(--dracula-tertiary);
}
/* region selector call */
#app-mount .quickSelectPopout-X1hvgV {
  background: var(--dracula-secondary);
}
.check-2by_h9 {
  fill: var(--dracula-accent) !important;
}
/* date picker */
#app-mount .calendarPicker-2yf6Ci .react-datepicker {
  background-color: var(--dracula-secondary);
}
#app-mount .calendarPicker-2yf6Ci .react-datepicker__header {
  background-color: var(--dracula-secondary);
  border-color: var(--dracula-tertiary);
}
#app-mount
  .calendarPicker-2yf6Ci
  .react-datepicker__day.react-datepicker__day--disabled,
#app-mount
  .calendarPicker-2yf6Ci
  .react-datepicker__day.react-datepicker__day--disabled:hover {
  background-color: var(--dracula-primary-light);
}
#app-mount .calendarPicker-2yf6Ci .react-datepicker__day--disabled,
#app-mount .calendarPicker-2yf6Ci .react-datepicker__day--outside-month {
  background-color: var(--dracula-primary);
}
#app-mount
  .calendarPicker-2yf6Ci
  .react-datepicker__day.react-datepicker__day--selected:after {
  background-color: var(--dracula-accent);
}
#app-mount
  .calendarPicker-2yf6Ci
  .react-datepicker__day.react-datepicker__day--selected:hover,
#app-mount .calendarPicker-2yf6Ci .react-datepicker__day:hover {
  background-color: var(--dracula-accent-alpha-alt2);
}
#app-mount .calendarPicker-2yf6Ci .react-datepicker__day {
  border-top-color: var(--dracula-tertiary);
  border-left-color: var(--dracula-tertiary);
}
#app-mount .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z {
  background-color: transparent;
}
#app-mount .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z:hover {
  background-color: var(--dracula-accent-alpha-alt2);
}
/* discover page search */
.categoryPill-34fszg.selected-1dONk0 {
  background-color: var(--dracula-accent);
}
.searchPage-3GKAdT .search-1iTphC .searchBox-2_mAlO:focus,
.searchPage-3GKAdT .search-1iTphC .searchBox-2_mAlO:focus-within {
  border-color: var(--dracula-accent) !important;
}
.css-12hk9yc-control {
  background-color: var(--dracula-secondary);
}
.css-ix84ef-menu {
  background-color: var(--dracula-secondary);
}
.css-1adxh11-control {
  background-color: var(--dracula-secondary);
}
/* store page */
.scroller-1JpcIc {
  background-color: var(--dracula-primary);
}
#app-mount .bodySection-jqkkIP,
#app-mount .row-1bU71H {
  background-color: var(--dracula-secondary);
}
.checkmarkIcon-2EnYwn {
  color: var(--dracula-accent);
}
/* nitro gifts, idk about valid ones gift me nitro so i can find out :^) */
#app-mount .description-1RsfgZ {
  color: var(--dracula-accent);
}
#app-mount .tile-2OwFgW {
  background-color: var(--dracula-secondary);
  &:hover {
    background-color: var(--dracula-tertiary);
  }
}
#app-mount .lookFilled-1Gx00P.colorPrimary-3b3xI6:disabled {
  background-color: var(--dracula-primary-light);
}
#app-mount .invalidPoop-pnUbq7 {
  background-color: var(--dracula-secondary);
}
/* boost screen */
#app-mount .perksModal-fSYqOq {
  background-color: var(--dracula-primary);
}
#app-mount .perk-2WeBWW {
  background-color: var(--dracula-secondary);
}
#app-mount .lookFilled-1Gx00P.colorPrimary-3b3xI6:active,
#app-mount .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover,
.lookFilled-1Gx00P.colorBrand-3pXr91:active {
  background-color: var(--dracula-accent-light);
}
#app-mount .barBackground-2EEiLw,
#app-mount .tierMarkerBackground-3q29am {
  background-color: var(--dracula-primary-light);
}
/* search channels */
#app-mount .searchAnswer-3Dz2-q,
#app-mount .searchFilter-2ESiM3 {
  background-color: var(--dracula-primary-light);
}
/* announcements channels */
#app-mount .header-1pGpFt {
  background: var(--dracula-secondary);
}
/* discovery clear button*/
.searchPage-3GKAdT .search-1iTphC .searchBox-2_mAlO .closeIcon-2WLZc1 {
  color: var(--dracula-primary-light);
}
/* homepage now playing section */
#app-mount .inset-3sAvek {
  background-color: var(--dracula-primary);
}
#app-mount .outer-1AjyKL.active-1xchHY,
#app-mount .outer-1AjyKL.interactive-3B9GmY:hover {
  background-color: var(--dracula-tertiary);
}
#app-mount .popout-38lTFE {
  background-color: var(--dracula-secondary);
}
#app-mount .separator-XqIyoz {
  background-color: var(--dracula-tertiary);
}
#app-mount .enabled-1t_Gxm:hover {
  background-color: var(--dracula-tertiary);
}
/* reply mention */
.colorBrand-2tjs5J {
  color: var(--dracula-accent);
}
/* bdCompat modals */
#app-mount .modal-yWgWj- {
  background-color: var(--dracula-primary);
}
/* jump to present "fix" - straight up stolen from tropical in powercord's themes channel teehee :DDD */
.jumpToPresentBar-G1R9s6 {
  padding: 0;
  bottom: 8px;
  border-radius: 15px;
}
/* emoji names input */
#app-mount .emojiAliasInput-1y-NBz .emojiInput-1aLNse {
  background-color: var(--dracula-secondary);
}
#app-mount .input-cIJ7To:focus,
#app-mount .input-cIJ7To.focused-1mmYsC,
#app-mount .input-cIJ7To:hover {
  border-color: var(--dracula-accent);
}
/* fix speaking ring in maximized vc */
.border-3dQmSY.speaking-WDn8Wm {
  box-shadow: inset 0 0 0 2px var(--dracula-accent),
    inset 0 0 0 3px var(--dracula-secondary);
}
/* additional maximized vc customizations */
.wrapper-2qzCYF.fullScreen-1tMzXY,
.wrapper-2qzCYF.noChat-18KtBD {
  background-color: var(--dracula-primary);
}
.tile-2naSqK {
  background-color: var(--dracula-secondary) !important;
  border: 1px solid var(--dracula-tertiary);
}
.gradientContainer-10lXLB {
  background-image: linear-gradient(
    var(--dracula-secondary),
    rgba(36, 38, 49, 0.738) 19%,
    rgba(36, 38, 49, 0.541) 34%,
    rgba(36, 38, 49, 0.382) 47%,
    rgba(36, 38, 49, 0.278) 56.5%,
    rgba(36, 38, 49, 0.194) 65%,
    rgba(36, 38, 49, 0.126) 73%,
    rgba(36, 38, 49, 0.075) 80.2%,
    rgba(36, 38, 49, 0.042) 86.1%,
    rgba(36, 38, 49, 0.021) 91%,
    rgba(36, 38, 49, 0.008) 95.2%,
    rgba(36, 38, 49, 0.002) 98.2%,
    transparent
  );
}
.colorable-1bkp8v.primaryDark-3mSFDl {
  background-color: var(--dracula-secondary);
  &:hover {
    background-color: var(--dracula-tertiary);
  }
}
.colorable-1bkp8v.white-3GPOIp {
  background-color: var(--dracula-accent);
  &:hover {
    background-color: var(--dracula-tertiary);
  }
}
.colorable-1bkp8v.white-3GPOIp,
.colorable-1bkp8v.white-3GPOIp .centerIcon-2G6o-T {
  color: #ffffff;
}
.colorable-1bkp8v.white-3GPOIp.active-1QRrIS {
  background-color: var(--dracula-accent);
}
.colorable-1bkp8v.white-3GPOIp:hover {
  background-color: var(--dracula-accent-light);
}
.colorable-1bkp8v.white-3GPOIp,
.colorable-1bkp8v.white-3GPOIp .centerIcon-2G6o-T {
  color: #ffffff;
}
.colorDefault-2K3EoJ .checkbox-3s5GYZ,
.colorDefault-2K3EoJ .radioSelection-1HmrQS {
  color: var(--dracula-accent);
}
#app-mount .wanderingCubesItem-WPXqao {
  background-color: var(--dracula-accent);
}
.videoWrapper-2v09vt {
  background-color: var(--dracula-secondary);
}
.button-1YfofB.buttonColor-7qQbGO.buttonActive-3FrkXp,
.button-1YfofB .buttonColor-7qQbGO.buttonActive-3FrkXp {
  background-color: var(--dracula-accent-light);
}
.button-1YfofB.buttonColor-7qQbGO.buttonActive-3FrkXp:hover,
.button-1YfofB .buttonColor-7qQbGO.buttonActive-3FrkXp:hover {
  background-color: var(--dracula-accent-light);
}
/* invite button */
.button-3HqqDX {
  background-color: var(--dracula-accent);
  &:hover {
    background-color: var(--dracula-accent-light);
  }
}
.lookOutlined-3sRXeN.colorGreen-29iAKY {
  color: var(--dracula-accent);
  border-color: var(--dracula-accent);
  &:active {
    background-color: var(--dracula-accent-light);
  }
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
  background-color: var(--dracula-accent);
}
.lookOutlined-3sRXeN.colorGreen-29iAKY:active {
  background-color: var(--dracula-accent-light);
  color: #ffffff;
}
/* self muted and deafened */
.icon-2IuuZd:not(.iconServer-Lyg2F4) {
  color: var(--dracula-accent);
}

/* notification settings */
.checkbox-1ix_J3[style="width: 24px; height: 24px; border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);"] {
  background-color: var(--dracula-accent) !important;
  border-color: var(--dracula-accent-dark) !important;
}
.checkbox-1ix_J3[style="width: 24px; height: 24px; border-color: rgb(67, 181, 129); background-color: rgb(67, 181, 129);"] {
  background-color: var(--dracula-accent) !important;
  border-color: var(--dracula-accent) !important;
}
.checkbox-1ix_J3[style="width: 24px; height: 24px; border-color: rgba(67, 181, 129, 0.15); background-color: rgba(67, 181, 129, 0.15);"] {
  background-color: var(--dracula-accent-alpha) !important;
  border-color: var(--dracula-accent-alpha) !important;
}
path[d="M8.99991 16.17L4.82991 12L3.40991 13.41L8.99991 19L20.9999 7.00003L19.5899 5.59003L8.99991 16.17Z"][fill="#43b581"] {
  fill: var(--dracula-accent);
}
#app-mount .default-3oAQTF {
  background-color: var(--dracula-secondary);
  &:hover {
    background-color: var(--dracula-tertiary);
  }
}
#app-mount .override-2YgiXd:hover {
  background-color: var(--dracula-tertiary);
}
/* tiny chat box fix */
.channelTextArea-2VhZ6z {
  border-radius: 25px;
}
#app-mount .form-2fGMdU:before {
  display: none;
}
/* billing stuff */
.css-dwar6a-menu {
  background-color: var(--dracula-secondary);
}
.css-rzbxvl-option {
  background-color: var(--dracula-tertiary);
}
#app-mount .defaultIndicator-G3c16x {
  background-color: var(--dracula-accent);
}
/* keyboard combos modal */
#app-mount .keyboardShortcutsModal-3piNz7 {
  background-color: var(--dracula-secondary);
}
/* role color picker */
#app-mount .colorPickerCustom-2CWBn2 {
  background: var(--dracula-primary);
  border-color: var(--dracula-tertiary);
}
/* game activity */
#app-mount .notDetected-33MY4s {
  background-color: var(--dracula-primary-light);
}
#app-mount .addGamePopout-2RY8Ju {
  background-color: var(--dracula-primary);
}
.css-6fzn47-control:hover {
  border-color: var(--dracula-accent);
}
/* reactions list */
#app-mount .container-1If-HZ,
#app-mount .reactors-Blmlhw {
  background-color: var(--dracula-primary);
}
#app-mount .scroller-1-nKid {
  background-color: var(--dracula-secondary);
}
#app-mount .reactionSelected-1pqISm {
  background-color: var(--dracula-accent);
}
/* bbd stuff */
#app-mount .bd-addon-list .bd-addon-card {
  background-color: var(--dracula-secondary);
  border-color: var(--dracula-tertiary);
}
#app-mount .bd-addon-list .bd-card-footer {
  border-top-color: var(--dracula-tertiary);
}
#app-mount .bd-addon-list .bda-header {
  border-bottom-color: var(--dracula-tertiary);
}
.bd-search-wrapper {
  background-color: var(--dracula-secondary);
}
.bd-select .bd-select-options {
  background: var(--dracula-secondary);
}
.bd-select .bd-select-option:hover,
.bd-select .bd-select-option.selected {
  background: var(--dracula-tertiary);
}
#bd-settingspane-container .ui-switch-item .style-description {
  border-bottom: none;
}
/* channel perms */
#app-mount .container-VSDcQc .sectionTag-pXyto9 {
  background-color: var(--dracula-primary);
}
#app-mount .autocompleteArrow-Zxoy9H,
#app-mount .header-2bNvm4 {
  background-color: var(--dracula-secondary);
}
/* spotify listening party */
#app-mount .invite-18yqGF {
  background-color: var(--dracula-secondary);
  border-color: var(--dracula-tertiary);
}
.lookFilled-1Gx00P.colorGrey-2DXtkV:disabled {
  background-color: var(--dracula-primary-light);
}
.attachButtonPlay-3iJ0mf {
  color: var(--dracula-accent);
}
.lookLink-9FtZy-.colorBrand-3pXr91 {
  color: var(--dracula-accent);
}
.lookLink-9FtZy-.colorBrand-3pXr91:hover .contents-18-Yxp {
  /* discord is fucking weird dont ask me */
  background-image: linear-gradient(
    0deg,
    transparent,
    transparent 1px,
    var(--dracula-accent) 0,
    var(--dracula-accent) 2px,
    transparent 0
  );
}
/* meh */
.ephemeralMessage-1fEWtQ a {
  color: var(--dracula-accent);
}
.operations-36ENbA > a {
  color: var(--dracula-accent);
}
/* rtc connection */
#app-mount .container-2x5lvQ {
  .header-2C89wJ,
  section {
    background-color: var(--dracula-secondary);
  }
}
/* bd plugin, no idea if this is anywhere else in discord but hey ¯\_(ツ)_/¯ */
#app-mount .popoutList-T9CKZQ {
  background: var(--dracula-primary);
}
.container-cMG81i {
  background-color: var(--dracula-secondary);
}
/* invite "join x" */
#app-mount .contentWrapper-3WC1ID {
  background: var(--dracula-primary);
}
/* fix replying */
.container-2fRDfG {
  margin: 0 20px 0 20px;
}
/* powercord codeblock copy */
.powercord-codeblock-copy-btn.copied {
  background-color: var(--dracula-accent) !important;
}
/* bd outdated plugins */
.colorInfo-2URYW5 {
  background-color: var(--dracula-accent);
}
/* discord's annoying reminder to turn on telementry */
.outer-1AjyKL:not(.wrapper-3D2qGf) {
  background-color: var(--dracula-primary);
  // display: none; // if you want :)
}
/* moving user in vc */
.containerUserOver-2mv1jO:after {
  background-color: var(--dracula-accent-alpha);
  border: 2px solid var(--dracula-accent-alpha-alt2);
}
/* search loading */
#app-mount {
  .path2-1q7bG_,
  .path-92Hmty {
    stroke: var(--dracula-accent);
  }
  .path3-2l9TIX {
    stroke: var(--dracula-accent-dark);
  }
}
/* favorite gifs fade thingy */
#app-mount {
  .categoryFadeBlurple-1j72_A {
    /* im not making another fucking variable just for alphas so fuck it */
    background-color: rgba(189, 147, 249, 0.8);
    &:hover {
      background-color: rgba(189, 147, 249, 0.95);
    }
  }
  .result-3w1ZcL:hover:after {
    -webkit-box-shadow: inset 0 0 0 2px var(--dracula-accent),
      inset 0 0 0 3px var(--dracula-secondary);
    box-shadow: inset 0 0 0 2px var(--dracula-accent),
      inset 0 0 0 3px var(--dracula-secondary);
  }
}
/* logging in */
#app-mount .authBox-hW6HRx {
  background: var(--dracula-primary);
}

.avatarUploaderInner-3UNxY3 {
  background-color: var(--dracula-accent);
}

/* light theme warning by snapperito */
html.theme-light {
  #app-mount {
    &::after {
      content: "You need to have dark theme enabled for this theme to work properly. To enable it, go into Settings -> Appearance";
      background: var(--dracula-tertiary); /* Container color */
      position: fixed;
      z-index: 5;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      max-width: 225px;
      line-height: normal;
      padding: 15px 0 15px 60px;
      margin-right: 10px;
      margin-bottom: 10px;
      border-left: 3px solid #f04747;
      border-radius: 3px;
      color: rgba(255, 255, 255, 0.65); /* Text Color */
      background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMSAyMWgyMkwxMiAyIDEgMjF6bTEyLTNoLTJ2LTJoMnYyem0wLTRoLTJ2LTRoMnY0eiIvPjwvc3ZnPg==);
      background-repeat: no-repeat;
      background-size: 35px;
      background-position: 10px center;
    }
  }
}

/* backslash commands bots thingy idfk */
.active-2awTSY {
  background-color: var(--dracula-accent) !important;
}
/* uploading progress bar */
.progressBar-3u8FBM {
  background-color: var(--dracula-accent) !important;
}

/* left icons */
.icon-LYJorE,
.iconContainer-2-XQPY {
  order: -1;
  padding-right: 10px;
  margin-left: 0px;
}

/* Better RTC Connection popout */
.layerContainer-yqaFcK
  .layer-v9HyYc[style*="position: absolute; left: 100px;"] {
  left: 72px !important;
}
.container-2x5lvQ {
  width: 240px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.24);
}
.layerContainer-yqaFcK
  .layer-v9HyYc[style*="position: absolute; left: 100px;"]
  .container-2x5lvQ
  header {
  background-color: var(--toast-header);
}
.layerContainer-yqaFcK
  .layer-v9HyYc[style*="position: absolute; left: 100px;"]
  .container-2x5lvQ
  section {
  background-color: var(--deprecated-panel-background);
}
.container-2x5lvQ section p:nth-of-type(1) {
  font-size: 0;
}
.container-2x5lvQ section p:nth-of-type(2) {
  display: none;
}
.container-2x5lvQ section strong {
  font-size: 14px;
  white-space: pre;
}
.container-2x5lvQ section strong::before {
  font-weight: normal;
}
.container-2x5lvQ section strong:nth-of-type(1)::before {
  content: "Server: ";
}
.container-2x5lvQ section strong:nth-of-type(2)::before {
  content: "Average Ping: ";
}
.container-2x5lvQ section strong:nth-of-type(3)::before {
  content: "Last Ping: ";
}
.container-2x5lvQ section strong:nth-of-type(4)::before {
  content: "Packet Loss: ";
}

/* voice badge */
.iconBadge-3qSJIw {
  background-color: #43b581;
  &.participating-1NvRVd {
    background-color: var(--dracula-accent);
  }
}

/* mic test - stolen from CreArts v2.0 by CorellanStoma#1996 */
.container-3PXSwK {
  border-radius: 25px;
}
.userSettingsVoice-iwdUCU,
.container-3PXSwK {
  width: auto !important;
}
.theme-dark .notches-1sAcEM.gray-3_LNYR {
  display: none;
}

.theme-dark .progress-1IcQ3A,
.theme-light .progress-1IcQ3A {
  background: var(--dracula-primary);
}

.micTestCaption-2xsa4I {
  top: 32px;
  left: 148px;
}

// Button
.micTestButton-2Vwk4_ {
  width: 140px;
}

/* reorder theme toggler and bdCompat settings for powercord */
#app-mount .item-PXvHYJ[data-item-id="bdCompat"],
#app-mount .item-PXvHYJ[data-item-id="theme-toggler"] {
  order: 1;
}
.item-PXvHYJ[data-item-id="pc-moduleManager-plugins"] ~ div {
  order: 2;
}

/* smaller channel icons */
.icon-1DeIlz {
  width: 15px;
}

/* dd's cute mentions */
#app-mount .wrapper-3WhCwL {
  border-radius: 5px;
  padding: 2px 3px;
  font-size: 0.9em;
}

/* hide msg box icons until hover */
.buttons-3JBrkn {
  opacity: 0;
  transition: opacity 0.2s;
}
.channelTextArea-rNsIhG:hover .buttons-3JBrkn {
  opacity: 1;
}

/* Bigger avatar on popups */
.header-QKLPzZ > .avatar-3EQepX.wrapper-3t9DeA {
  top: 5px;
}
.avatarWrapperNormal-3wFMbf.avatarWrapper-3H_478 > .wrapper-3t9DeA,
.header-QKLPzZ > .avatar-3EQepX.wrapper-3t9DeA,
.avatarHint-1qgaV3 {
  width: 100px !important;
  height: 100px !important;
}
/* BIV lens */
.BIV-zoom-lens {
  border: solid var(--dracula-accent) !important;
}
.BIV-zoom-lens-round {
  border: 2px solid var(--dracula-accent) !important;
}
/* server settings roles */
.top-28JiJ- .brand-1Zl8en.item-PXvHYJ:hover {
  border-bottom-color: var(--dracula-accent);
}
/* my account settings area - taken from Nyria#3863's LilyPichu theme */
.background-1QDuV2 {
  border-radius: 20px;

  .profile-1eT9hT {
    padding-top: 55px;
    flex-direction: column;
    justify-content: center;

    .avatarUploader-3XDtmn {
      position: absolute;
      top: 55px;
      left: 43.5%; // you might have to make adjustments here if you disabled dusk to dawn settings idk too lazy to try it

      .avatarUploaderInner-2EvNMg {
        width: 100px;
        height: 100px;
      }
    }
    .details-2fkb7l {
      align-items: center;
      margin-left: 0;
    }
    .menu-319q29 {
      margin: 10px 0 0 0;
    }
  }

  .fieldList-21DyL8 {
    border-radius: 20px;
  }
}
/* github plugin compat */
.has-vpc .content-1LAB8Z {
  background-color: var(--dracula-primary) !important;
}

/* annoying rebranding reaction border */
.reaction-1hd86g.reactionMe-wv5HKu {
  border-color: var(--dracula-accent);
}
.reaction-1hd86g:hover {
  border-color: var(--dracula-accent);
}

/* mentions - discord's rebranding sucks huge fucking cock */
#app-mount .wrapper-3WhCwL {
  background-color: var(--dracula-accent-alpha);
}

/* posting tokens in chat warning */
#app-mount .contentWarningPopout-n5JsIs {
  background-color: var(--dracula-secondary);
}
