.theme-dark,
:root {
	/* theme color palette */
	--dracula-primary: #282a36;
	--dracula-secondary: #242631;
	--dracula-secondary-alpha: rgba(36, 38, 49, 0.9);
	--dracula-tertiary: #20222c;
	--dracula-tertiary-alpha: rgba(32, 34, 44, 0.6);
	--dracula-primary-light: #44475a;
	--dracula-accent: #bd93f9;
	--dracula-accent-alpha: rgba(189, 147, 249, 0.2);
	--dracula-accent-alpha-alt: rgba(189, 147, 249, 0.35);
	--dracula-accent-alpha-alt2: rgba(189, 147, 249, 0.5);
	--dracula-accent-dark: #7b49c0;
	--dracula-accent-light: #d4b5ff;

	/* discord variables */
	--background-primary: var(--dracula-primary);
	--background-secondary: var(--dracula-secondary);
	--background-secondary-alt: var(--dracula-secondary);
	--background-tertiary: var(--dracula-secondary);
	--background-accent: var(--dracula-accent);
	--scrollbar-thumb: var(--dracula-primary-light);
	--scrollbar-thin-thumb: var(--dracula-primary-light);
	--scrollbar-auto-scrollbar-color-thumb: var(--dracula-primary-light);
	--scrollbar-auto-track: var(--dracula-primary);
	--scrollbar-auto-scrollbar-color-track: var(--dracula-primary);
	--scrollbar-auto-thumb: var(--dracula-primary-light);
	--text-link: var(--dracula-accent);
	--focus-primary: var(--dracula-accent);
	--background-modifier-accent: var(--dracula-tertiary);
	--background-modifier-hover: var(--dracula-tertiary);
	--background-modifier-active: var(--dracula-tertiary);
	--background-modifier-selected: var(--dracula-tertiary);
	--header-primary: var(--dracula-accent);
	--background-floating: var(--dracula-secondary);
	--deprecated-text-input-border: var(--dracula-tertiary);
	--deprecated-card-editable-bg: var(--dracula-secondary);
	--deprecated-text-input-bg: var(--dracula-secondary);
	--deprecated-text-input-border: var(--dracula-tertiary);
	--radio-group-dot-foreground: var(--dracula-accent);
	--control-brand-foreground: var(--dracula-accent);

	/* powercord */
	--spotify-color: var(--dracula-accent) !important;
	--toast-header: var(--dracula-secondary) !important;
	--toast-background: var(--dracula-primary) !important;
	--toast-border: var(--dracula-tertiary) !important;
	--toast-contents: var(--dracula-secondary) !important;

	/* betterdiscord */
	--bd-blue: var(--dracula-accent);
	--bd-blue-hover: var(--dracula-accent-light);
	--bd-blue-active: var(--dracula-accent-light);
	--blurple: var(--dracula-accent);

	/* brands */
	--text-brand: var(--dracula-accent);
	--brand-experiment-100: #f8f9fd;
	--brand-experiment-130: #f2f4fc;
	--brand-experiment-160: #ebeefa;
	--brand-experiment-200: #e3e7f8;
	--brand-experiment-230: #dae0f5;
	--brand-experiment-260: #d1d9f3;
	--brand-experiment-300: #c7d0f0;
	--brand-experiment-330: #b5c1ec;
	--brand-experiment-360: #a5b3e7;
	--brand-experiment-400: #8ea1e1;
	--brand-experiment-430: var(--dracula-accent-light);
	--brand-experiment-460: #7d92dd;
	--brand-experiment: var(--dracula-accent);
	--brand-experiment-500: #7289da;
	--brand-experiment-530: #687dc6;
	--brand-experiment-560: var(--dracula-accent-light);
	--brand-experiment-600: #4e5d94;
	--brand-experiment-630: #435180;
	--brand-experiment-660: #3b4770;
	--brand-experiment-700: #2e3757;
	--brand-experiment-730: #2b3352;
	--brand-experiment-760: #272f4b;
	--brand-experiment-800: #222941;
	--brand-experiment-830: #1a2032;
	--brand-experiment-860: #111521;
	--brand-experiment-900: #06070b;
	--brand-experiment-05a: rgba(114, 137, 218, 0.05);
	--brand-experiment-10a: rgba(114, 137, 218, 0.1);
	--brand-experiment-15a: rgba(114, 137, 218, 0.15);
	--brand-experiment-20a: rgba(114, 137, 218, 0.2);
	--brand-experiment-25a: rgba(114, 137, 218, 0.25);
	--brand-experiment-30a: rgba(114, 137, 218, 0.3);
	--brand-experiment-35a: rgba(114, 137, 218, 0.35);
	--brand-experiment-40a: rgba(114, 137, 218, 0.4);
	--brand-experiment-45a: rgba(114, 137, 218, 0.45);
	--brand-experiment-50a: rgba(114, 137, 218, 0.5);
	--brand-experiment-55a: rgba(114, 137, 218, 0.55);
	--brand-experiment-60a: rgba(114, 137, 218, 0.6);
	--brand-experiment-65a: rgba(114, 137, 218, 0.65);
	--brand-experiment-70a: rgba(114, 137, 218, 0.7);
	--brand-experiment-75a: rgba(114, 137, 218, 0.75);
	--brand-experiment-80a: rgba(114, 137, 218, 0.8);
	--brand-experiment-85a: rgba(114, 137, 218, 0.85);
	--brand-experiment-90a: rgba(114, 137, 218, 0.9);
	--brand-experiment-95a: rgba(114, 137, 218, 0.95);
}
