:root {
  /* theme color palette */
  --dracula-primary: #282a36;
  --dracula-secondary: #242631;
  --dracula-secondary-alpha: rgba(36, 38, 49, 0.9);
  --dracula-tertiary: #20222c;
  --dracula-tertiary-alpha: rgba(32, 34, 44, 0.6);
  --dracula-primary-light: #44475a;
  --dracula-accent: #bd93f9;
  --dracula-accent-alpha: rgba(189, 147, 249, 0.2);
  --dracula-accent-alpha-alt: rgba(189, 147, 249, 0.35);
  --dracula-accent-alpha-alt2: rgba(189, 147, 249, 0.5);
  --dracula-accent-dark: #7b49c0;
  --dracula-accent-light: #d4b5ff;

  /* discord variables */
  --background-primary: var(--dracula-primary);
  --background-secondary: var(--dracula-secondary);
  --background-secondary-alt: var(--dracula-secondary);
  --background-tertiary: var(--dracula-secondary);
  --background-accent: var(--dracula-accent);
  --scrollbar-thumb: var(--dracula-primary-light);
  --scrollbar-thin-thumb: var(--dracula-primary-light);
  --scrollbar-auto-scrollbar-color-thumb: var(--dracula-primary-light);
  --scrollbar-auto-track: var(--dracula-primary);
  --scrollbar-auto-scrollbar-color-track: var(--dracula-primary);
  --scrollbar-auto-thumb: var(--dracula-primary-light);
  --text-link: var(--dracula-accent);
  --focus-primary: var(--dracula-accent);
  --background-modifier-accent: var(--dracula-tertiary);
  --background-modifier-hover: var(--dracula-tertiary);
  --background-modifier-active: var(--dracula-tertiary);
  --header-primary: var(--dracula-accent);
  --background-floating: var(--dracula-secondary);
  --deprecated-text-input-border: var(--dracula-tertiary);
  --deprecated-card-editable-bg: var(--dracula-secondary);
  --deprecated-text-input-bg: var(--dracula-secondary);
  --deprecated-text-input-border: var(--dracula-tertiary);

  /* powercord */
  --spotify-color: var(--dracula-accent) !important;
  --toast-header: var(--dracula-secondary) !important;
  --toast-background: var(--dracula-primary) !important;
  --toast-border: var(--dracula-tertiary) !important;
  --toast-contents: var(--dracula-secondary) !important;

  /* betterdiscord */
  --bd-blue: var(--dracula-accent);
  --bd-blue-hover: var(--dracula-accent-light);
  --bd-blue-active: var(--dracula-accent-light);
  --blurple: var(--dracula-accent);
}
