:root {
  --quotes-background-border: var(--dracula-secondary);
  --quotes-divider: var(--dracula-accent);
  --quotes-text: #fff;
}

.blockquoteContainer-U5TVEi {
  padding: 2px 0 2px 0;
}
.blockquoteContainer-U5TVEi blockquote {
  background-color: var(--quotes-background-border);
  border: 1px solid var(--quotes-background-border);
  color: var(--quotes-text);
  border-radius: 0 4px 4px 0;
  padding: 4px 11px 4px;
}

.blockquoteContainer-U5TVEi > .blockquoteDivider-2hH8H6 {
  background-color: var(--quotes-divider);
  border-radius: 4px 0 0 4px;
}
