/* Dusk To Dawn Settings - taken from Dusk to Dawn by Asteria */

:root {
  --width2: 60%;
  --height2: 85%;
}

.layers-3iHuyZ {
  align-items: center;
  justify-content: center;
}
.layers-3iHuyZ > .layer-3QrUeG:first-child {
  opacity: 1 !important;
  transform: none !important;
}
.layers-3iHuyZ > .layer-3QrUeG.stop-animations:first-child {
  z-index: 1;
  transition: 250ms ease-in;
}
.layers-3iHuyZ > .layer-3QrUeG:nth-child(2)::before {
  content: "";
  position: absolute;
  top: calc((100% - var(--height2)) / -1);
  left: calc((100% - var(--width2)) / -1);
  padding: calc(100% - var(--height2)) calc(100% - var(--width2));
  background: black;
  z-index: 2;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  transition: opacity 350ms ease;
}
.layers-3iHuyZ > .layer-3QrUeG:nth-child(2) {
  width: var(--width2);
  height: var(--height2);
  top: unset;
  bottom: unset;
  right: unset;
  left: unset;
  display: block;
  overflow: visible;
  transform: translateZ(0);
  z-index: 3;
}
