/* name, color, and pic */
$bot-msg: rgb(189, 147, 249);
$bot-name: #ee00c4;

.wrapper-30-Nkg.ephemeral-2nDdnn {
  background-color: rgba(114, 137, 218, 0.05);
  box-shadow: inset 2px 0 #7289da;
  & .username-h_Y3Us {
    --local-bot-name: "dracula"; /* Change this */
    color: $bot-name;
    visibility: hidden;
    &::before {
      content: var(--local-bot-name);
      visibility: visible;
    }
  }
  &:hover {
    background-color: rgba(114, 137, 218, 0.12) !important;
  }
  & [src*="powercord"],
  & [src*="/assets/"] {
    content: url("https://i.imgur.com/KlWAZ0C.jpg"); /* Change This */
  }
  &
    [src*="powercord"]
    + .header-2jRmjb
    > .headerText-2z4IhQ
    > .botTagCozy-3NTBvK {
    margin-left: -65px;
  }
  &
    [src*="/assets/"]
    + .header-2jRmjb
    > .headerText-2z4IhQ
    > .botTagCozy-3NTBvK {
    margin-left: -30px;
  }
}

/* local bot msgs color */
.ephemeral-2nDdnn {
  background-color: rgba($bot-msg, 0.1) !important;
  &:before {
    background-color: $bot-msg !important;
  }
}
.mouse-mode.full-motion .ephemeral-2nDdnn:hover {
  background-color: rgba($bot-msg, 0.2) !important;
}
