/* name, color, and pic */
.wrapper-2a6GCs.ephemeral-1PsL1r .username-1A8OIy {
  --local-bot-name: "dracula"; /* Change this */
  color: #ee00c4;
}
.wrapper-2a6GCs.ephemeral-1PsL1r {
  background-color: rgba(114, 137, 218, 0.05);
  box-shadow: inset 2px 0 #7289da;
}
.wrapper-2a6GCs.ephemeral-1PsL1r:hover {
  background-color: rgba(114, 137, 218, 0.12) !important;
}

.wrapper-2a6GCs.ephemeral-1PsL1r [src*="powercord"],
.wrapper-2a6GCs.ephemeral-1PsL1r [src*="/assets/"] {
  content: url("https://i.imgur.com/KlWAZ0C.jpg"); /* Change This */
}
.wrapper-2a6GCs.ephemeral-1PsL1r .username-1A8OIy {
  visibility: hidden;
}
.wrapper-2a6GCs.ephemeral-1PsL1r .username-1A8OIy::before {
  content: var(--local-bot-name);
  visibility: visible;
}
.wrapper-2a6GCs.ephemeral-1PsL1r
  [src*="powercord"]
  + .header-23xsNx
  > .headerText-3Uvj1Y
  > .botTagCozy-1fFsZk {
  margin-left: -65px;
}
.wrapper-2a6GCs.ephemeral-1PsL1r
  [src*="/assets/"]
  + .header-23xsNx
  > .headerText-3Uvj1Y
  > .botTagCozy-1fFsZk {
  margin-left: -30px;
}

/* local bot msgs color */
.ephemeral-1PsL1r:before {
  background-color: rgb(189, 147, 249) !important;
}
.ephemeral-1PsL1r {
  background-color: rgba(189, 147, 249, 0.1) !important;
}
.mouse-mode.full-motion .ephemeral-1PsL1r:hover {
  background-color: rgba(189, 147, 249, 0.2) !important;
}
