/* Nicer Roles by LuckFire, taken from Midnight Mars */
.role-2irmRk.flex-1O1GKY:not(.addButton-pcyyf6):not(.actionButton-VzECiy) {
  z-index: 1;
  position: relative;
  overflow: hidden;
  border: solid;
  border-width: 0 0 0 2px;
  border-radius: 3px;
}
.roleCircle-3xAZ1j.flex-1O1GKY {
  height: 4px;
  width: 4px;
}
.roleCircle-3xAZ1j.flex-1O1GKY:before {
  content: " ";
  position: absolute;
  z-index: -1;
  background: inherit;
  opacity: 0.15;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
