.headerPlaying-j0WQBV,
.topSectionPlaying-1J5E4n {
  z-index: 1;
  background-image: url("https://slowstab.github.io/addons/playing-background.svg");
}

.headerSpotify-zpWxgT,
.topSectionSpotify-1lI0-P {
  z-index: 1;
  background-image: url("https://slowstab.github.io/addons/playing-background.svg");
}

.headerStreaming-2FjmGz,
.topSectionStreaming-1Tpf5X {
  z-index: 1;
  background-image: url("https://slowstab.github.io/addons/playing-background.svg");
}
