/**
 * @name dracula
 * @description a dark mode discord theme based on the dracula color palette.
 * @author aokiare
 * @version 1.2.4
 * @authorId 336678828233588736
 * @website https://github.com/Aokiare/dracula
 * @source https://github.com/Aokiare/dracula/blob/main/dracula.scss
 */

@import url("https://aokiare.github.io/dracula/BetterDiscord/source.css");
