/**
 * @name dracula
 * @description a dark mode discord theme based on the dracula color palette.
 * @author x6r
 * @version 1.3.2
 * @authorId 336678828233588736
 * @website https://github.com/x6r/dracula
 * @source https://github.com/x6r/dracula/blob/main/dracula.scss
 */

@import url("https://x6r.github.io/dracula/BetterDiscord/source.css");
@import url("https://mulverinex.github.io/legacy-settings-icons/dist-native.css");
